<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="DOGGEAPP">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DOGGEAPP</title>

  <link rel="preload" href="fonts/sf-pro-display-regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-semibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-bold.woff" as="font" crossorigin="anonymous">

  <link rel="preload" href="fonts/BasisGrotesquePro-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Black.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
