<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="DOODLE">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DOODLE</title>

  <link rel="preload" href="fonts/BasisGrotesquePro-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/BasisGrotesquePro-Black.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RubikRegular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RubikMedium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RubikBlack.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/RubikBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/JetBrainsMono-ExtraBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/MullerExtraBold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
