<div class="overlay fixed-block" data-overlay>
    
    <div class="modal" data-popup="game">

        <div class="modal__box">
                <span class="modal__title">The game is available
                  after <b>level 3</b></span>
            
                  <button class="main-btn main-btn--mode">
                    <svg width='20' height='20'>
                      <use href='img/sprite/sprite.svg#flash'></use>
                    </svg>
                    Upgrade</button>
        </div>
    </div>

</div>








