.main-referral{
   display: flex;
   flex-direction: column;
   grid-gap: 27px;

    &__box{
        padding: 18px 26px 23px 21px;
        border-radius: 21px;
        display: flex;
        flex-direction: column;
        grid-gap: 13px;
        overflow: hidden;
        position: relative;

        &::after{
            position: absolute;
            content: '';
            inset: 0;
            border-radius: inherit;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='347' height='217' fill='none'%3E%3Crect width='347' height='217' fill='url(%23a)' rx='21'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='251.745' x2='-2.59782' y1='19.2889' y2='213.537' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230F1036'/%3E%3Cstop offset='1' stop-color='%232B2E9C' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
            pointer-events: none;
        }

        @include gradient-border(var(--gr-e), 1px);

        &--mode{
            padding: 18px 22px;
        }
    }

    &__name{
        font-weight: 500;
        font-size: 14px;
    }

    &__value{
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        b{
            font-weight: 400;
        }
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        &--mode{
            grid-gap: 12px;
            margin-top: 3px;
            grid-template-columns: 100%;
            background: rgba(var(--bg-h),1.0);
            padding: 20px 16px;
            border-radius: 8px;

            .main-referral__item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-gap: 15px;
            }
        }
    }
}