.referral-section{
  padding: 10px 0 116px;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .container{
      min-height: 100%;
  }

  &__box{
      display: flex;
      flex-direction: column;
      min-height: calc(100dvh - 116px - 18px);
      grid-gap: 18px;
      padding-bottom: 15px;
  }

  &__wrapp{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 18px;

    .history-list{
      margin-top: 8px;
    }
  }

  .banner{
    margin-bottom: 3px;
  }

  &--mode{
    padding: 17px 0 116px;
  }
}