.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    // background: var(--gr-b);
    // border: 1px solid var(--br-a);
    border-radius: 21px;
    grid-gap: 12px;

    @include gradient-border(var(--gr-h), 1px);

    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
        
        width: 100%;
        padding: 20px 20px 8px;
        position: relative;
        z-index: 1;
        border-radius: 18px;

        &::before{
            border-radius: inherit;
            content: '';
            position: absolute;
            inset: 0;
            background: var(--gr-g);
            z-index: -1;
        }

        img{
            width: 41px;
            display: flex;
            aspect-ratio: 1;
            margin-top: -3px;
        }
    }

    &__bottom{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        text-align: center;
        padding: 9.5px 57px;
        min-width: 202px;
        position: relative;
        margin-top: 9px;

        &::before{
            position: absolute;
            z-index: -1;
            content: '';
            width: 316px;
            height: 137px;
            left: 50%;
            transform: translate(-50%, 0%);
            background-position: center;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='316' height='137' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cmask id='c' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M227.084 43H88.5C77.1782 43 68 52.1782 68 63.5S58.8218 84 47.5 84h220.584c-11.322 0-20.5-9.1782-20.5-20.5s-9.178-20.5-20.5-20.5Z' clip-rule='evenodd'/%3E%3C/mask%3E%3Cpath fill='%230173FA' fill-rule='evenodd' d='M227.084 43H88.5C77.1782 43 68 52.1782 68 63.5S58.8218 84 47.5 84h220.584c-11.322 0-20.5-9.1782-20.5-20.5s-9.178-20.5-20.5-20.5Z' clip-rule='evenodd'/%3E%3Cpath fill='url(%23b)' d='M88.5 44h138.584v-2H88.5v2ZM69 63.5C69 52.7304 77.7304 44 88.5 44v-2C76.6259 42 67 51.6259 67 63.5h2ZM47.5 85C59.3741 85 69 75.3741 69 63.5h-2C67 74.2696 58.2696 83 47.5 83v2Zm220.584-2H47.5v2h220.584v-2Zm-21.5-19.5c0 11.8741 9.626 21.5 21.5 21.5v-2c-10.769 0-19.5-8.7305-19.5-19.5h-2Zm-19.5-19.5c10.77 0 19.5 8.7304 19.5 19.5h2c0-11.8741-9.626-21.5-21.5-21.5v2Z' mask='url(%23c)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='160.151' x2='160.151' y1='43' y2='84' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230173FA'/%3E%3Cstop offset='1' stop-color='%23014494' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cfilter id='a' width='315.584' height='136' x='0' y='0.5' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeMorphology in='SourceAlpha' operator='dilate' radius='1' result='effect1_dropShadow_108_2400'/%3E%3CfeOffset dy='5'/%3E%3CfeGaussianBlur stdDeviation='23.25'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0.00392157 0 0 0 0 0.45098 0 0 0 0 0.980392 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_108_2400'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_108_2400' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
            bottom: -53px;
            pointer-events: none;
        }
    }

    p{
        text-align: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        color: rgba(var(--cl-e),1.0);
        max-width: 200px;
        width: 100%;
    }

    &__value{
        font-weight: 500;
        font-size: 27px;

        b{
            font-weight: 500;
        }

        i{
            font-style: normal;
            color: rgba(var(--cl-c),1.0);
        }
    }

    &__mining{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: var(--font4);
        font-weight: 800;
        font-size: 27px;
        line-height: 78%;
        letter-spacing: -0.01em;
        text-align: center;
        
        img{
            width: 41px;
            display: flex;
            aspect-ratio: 1;
            margin-top: -3px;
            margin-right: 5px;
        }

        .main-info__value{
            font-family: var(--font4);
            font-weight: 800;
            b{
                font-family: var(--font4);
                font-weight: 800;
            }
    
            i{
                font-style: normal;
                font-family: var(--font4);
                font-weight: 800;
                color: rgba(var(--cl-c),1.0);
            }
        }
    }
 

    &--mode{
        grid-gap: 13px;
        padding: 16px 49px 39px;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='347' height='148' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M21 0C9.402 0 0 9.402 0 21v106c0 11.598 9.402 21 21 21h68.4503C96.3813 148 102 142.381 102 135.45c0-6.931 5.619-12.549 12.55-12.549h121.9c6.931 0 12.55 5.618 12.55 12.549 0 6.931 5.619 12.55 12.55 12.55H326c11.598 0 21-9.402 21-21V21c0-11.598-9.402-21-21-21H21Z' clip-rule='evenodd'/%3E%3C/mask%3E%3Cpath fill='url(%23b)' fill-rule='evenodd' d='M21 0C9.402 0 0 9.402 0 21v106c0 11.598 9.402 21 21 21h68.4503C96.3813 148 102 142.381 102 135.45c0-6.931 5.619-12.549 12.55-12.549h121.9c6.931 0 12.55 5.618 12.55 12.549 0 6.931 5.619 12.55 12.55 12.55H326c11.598 0 21-9.402 21-21V21c0-11.598-9.402-21-21-21H21Z' clip-rule='evenodd'/%3E%3Cpath fill='url(%23c)' d='M1 21C1 9.9543 9.9543 1 21 1v-2C8.8497-1-1 8.8497-1 21h2Zm0 106V21h-2v106h2Zm20 20c-11.0457 0-20-8.954-20-20h-2c0 12.15 9.8497 22 22 22v-2Zm68.4503 0H21v2h68.4503v-2Zm25.0997-23.099h121.9v-2h-121.9v2ZM326 147h-64.45v2H326v-2Zm20-20c0 11.046-8.954 20-20 20v2c12.15 0 22-9.85 22-22h-2Zm0-106v106h2V21h-2ZM326 1c11.046 0 20 8.9543 20 20h2c0-12.1503-9.85-22-22-22v2ZM21 1h305v-2H21v2Zm227 134.45c0 7.484 6.066 13.55 13.55 13.55v-2c-6.379 0-11.55-5.171-11.55-11.55h-2Zm-11.55-11.549c6.379 0 11.55 5.171 11.55 11.549h2c0-7.483-6.066-13.549-13.55-13.549v2ZM103 135.45c0-6.378 5.171-11.549 11.55-11.549v-2c-7.484 0-13.55 6.066-13.55 13.549h2ZM89.4503 149C96.9336 149 103 142.934 103 135.45h-2c0 6.379-5.171 11.55-11.5497 11.55v2Z' mask='url(%23d)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='251.745' x2='73.081' y1='13.1556' y2='213.221' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230F1036'/%3E%3Cstop offset='1' stop-color='%232B2E9C' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='434' x2='-46.7925' y1='153.626' y2='-135.812' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230173FA'/%3E%3Cstop offset='1' stop-color='%232B2E9C' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cfilter id='a' width='355' height='156' x='-4' y='-4' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_90_2120'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_backgroundBlur_90_2120' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        border-radius: 21px 21px 0 0;
        min-height: Min(38.889vw, 224px);

        &::before{
            content: none;
        }
        
        button{
            max-width: 248px;
        }
    }
}